@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-rocket: #7159c1;
    --color-a: #777;
}

body{
    background-color: var(--color-rocket);
}

header{
    background-color: var(--color-white);
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links{
    font-size: 22px;
}

.links a{
    color: var(--color-a);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color: var(--color-rocket);
}

.links a:hover{
    color: var(--color-rocket);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    left: 0;
    bottom: -4px;
    position: absolute;
}

.links a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out;
}