@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-rocket: #7159c1;
    --color-a: #777;
    --secondary-color: #F7DF1E;
}

body{
    background-color: var(--color-rocket);
}

header{
    background-color: var(--color-white);
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links{
    font-size: 22px;
}

.links a{
    color: var(--color-a);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color: var(--color-rocket);
}

.links a:hover{
    color: var(--color-rocket);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    left: 0;
    bottom: -4px;
    position: absolute;
}

.links a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out;
}

/*== CARD ==*/
.card{
    background-color: var(--color-white);
    width: 800px;
    min-height: 400px;
    margin: 50px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow:  0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* aniation*/
    animation: up 200ms ease-out;
}

@keyframes up{
   from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.avatar{
    background-image: url(https://source.unsplash.com/collection/3465564/500x500);
    background-repeat: no-repeat;   
    background-position: center; 
    top: 0;
}

/*== detalhes ==*/
.details{
    padding: 32px;
}

.details .item{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){
    color: var(--color-a);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-rocket);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}